<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body th:fragment="body" >

	<!-- 상단 네비게이션 -->
	<th:block th:include="include/nav" />

	<!-- 페이지 별 내용 들어갈 부분 -->
	<th:block layout:fragment="contents"></th:block>

	<!-- 	<!-- 특정 페이지 전용 js들 -->
	<!-- 	<th:block layout:fragment="page_js" /> -->

	<!-- 공통 설정(css, js등) -->
	
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
	<script src="assets/js/jquery-3.4.1.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>