<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
<!-- bootstrap사용을 위해 뷰포트 삽입 -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- 개별 설정 : 각 .html파일에서 아래의 태그들을 선언하고 태그안에 내용을 적어주면 됨-->
<th:block layout:fragment="page_head"></th:block>
<th:block layout:fragment="page_lib"></th:block>
<th:block layout:fragment="page_css"></th:block>
<th:block layout:fragment="page_js"></th:block>

</head>
</html>