<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- nav 시작 -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

	<div class="collapse navbar-collapse" >
		<ul class="navbar-nav ml-auto">
			<!-- 로그인 -->
			<li class="nav-item"><a class="nav-link" href="#">로그인</a></li>

			<!-- 로그아웃 -->
			<li class="nav-item"><a class="nav-link" href="#">로그아웃</a></li>
		</ul>
	</div>
</nav>
<!-- nav 끝 -->
</html>