<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{include/layout}">
<head>
	<title>회원가입 화면</title>
	<link href="signUp/css/signUp.css" rel="stylesheet">
</head>

<body>
<th:block layout:fragment="contents">
	<div class="card align-middle text-center cardDiv">
		
		<div class="card-title cardTitleDiv">
			<h2 class="card-title text-center cardTitleH2">회원가입</h2>
		</div>
		<div class="card-body">
			<form class="form-signin" method="POST" onSubmit="logincall();return false">
				<h5 class="form-signin-heading">회원가입 정보를 입력하세요</h5>
				<br/>
				
				<input type="text" id="user_id" class="form-control" placeholder="아이디" required autofocus>
				<br/>
				
				<input type="password" id="password_01" class="form-control" placeholder="비밀번호" required>
				<br/>
				
				<input type="password" id="password_02" class="form-control" placeholder="비밀번호 확인" required>
				<br/>
				
				<input type="text" id="user_nm" class="form-control" placeholder="이름" required autofocus>
				<br/>
				
				<input type="text" id="ph_no" class="form-control" placeholder="01012340000" required autofocus>
				<br/>
				
				<button id="btn-Yes" class="btn btn-dark" type="submit">완료</button>
				
				<button id="btn-no" class="btn btn-dark" type="submit">취소</button>
				
			</form>

		</div>
	</div>
</th:block>

</body>

</html>