<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{include/layout}">
<head>
	<title>회원가입 화면</title>
	<link href="signUp/css/signUpPage.css" rel="stylesheet">
	
</head>

<body>
<th:block layout:fragment="contents">
	<div class="card align-middle text-center cardDiv">
		
		<div class="card-title cardTitleDiv">
			<h2 class="card-title text-center cardTitleH2">회원가입</h2>
		</div>
		<div class="card-body">
			<form class="form-signin" method="POST" action="/signUp" >
<!-- 				<h5 class="form-signin-heading">회원가입 정보를 입력하세요</h5> -->
				<div class="alert alert-success" id="id-success">사용가능한 아이디 입니다.</div>
				<div class="alert alert-danger" id="id-danger">이미 사용중인 아이디 입니다.</div>
				<div class="alert alert-danger" id="id-write">아이디를 입력해주세요.</div>
				<input type="text" id="user_id" name="user_id" class="form-control" placeholder="아이디(최대 15자)"
				maxlength="15" required autofocus/>

<!-- 				<div align="left"> -->
<!-- 					<input type="button" id="idCheck" name="idCheck" class="btn btn-dark" value="중복확인"/> -->
<!-- 				</div> -->
				<br/>
				
				<input type="password" name="password" id="password_01" maxlength="15" class="form-control password" placeholder="비밀번호(최대 15자)" required/>
				<br/>
				
				<input type="password" id="password_02" maxlength="15" class="form-control password" placeholder="비밀번호 확인" required/>
				<div class="alert alert-success" id="pw-success">비밀번호가 일치합니다.</div>
				<div class="alert alert-danger" id="pw-danger">비밀번호가 일치하지 않습니다.</div>
				<br/>

				<input type="text" id="user_nm" name="user_nm" class="form-control" maxlength="4" placeholder="이름" required/>
				<br/>
				
				<input type="text" id="ph_no" name="ph_no" class="form-control" maxlength="11" placeholder="01022227777" required/>
				<br/>
				
				<button id="signUpBtn" class="btn btn-dark" type="submit" disabled="disabled">완료</button>
				<a href="/signUpPage" id="cancelBtn" class="btn btn-dark" >다시 입력하기</a>
			</form>

		</div>
	</div>
	
	<script src="signUp/js/signUpPage.js"></script>
</th:block>	
</body>

</html>