<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{include/layout}">

<head>
<title>상세 보기</title>
<link href="/post/css/postDetail.css" rel="stylesheet">
<script src="/post/js/postDetail.js"></script>
</head>

<body>
	<th:block layout:fragment="contents">
		<article>
			<div class="container mainDiv">

				<div class="titleDiv">
					<span th:text="${postDetail.p_title}" id="p_title"></span>
					<span style="position: absolute; right: 14%;">
						<span th:text="|작성자 : ${postDetail.user_id}  │  |"></span>
						<span th:text="${postDetail.p_dt}"></span>
						<!-- 본인 일때 수정, 삭제 가능 -->
						<span th:if="${session.memberVO_logIn.user_id == postDetail.user_id}" >
							<input class="btn btn-dark" id="postEditPage" type="button" value="수정">
							<input class="btn btn-dark" id="postDelBtn" type="button" value="삭제">
						</span>
					</span>
					
				</div>

				<hr/>
				<div class="attachDiv">
					<h5>첨부파일</h5>
					<hr/>
				</div>
				
				<div class="contentDiv">
					<span th:text="${postDetail.p_content}"></span>
					<br/><br/><br/><br/>
				</div>
				<hr/>
				
				<span>댓글</span>
				<span>│</span>
				<span th:text="|글 조회 수 : ${postDetail.p_readCount}|"></span>
				<span>│</span>
				<span>글 번호 : </span>
				<span th:text="${postDetail.p_no}" class="p_no"></span>
				<div class="input-group replyDiv" >
				
    				<textarea class="form-control" id="replyTextArea" rows="3"></textarea>
    				
                   	<input type="button" class="btn btn-dark replyRegi" value="등록"/>

  				</div>
  				
  				<br/>
  				<div class="">
  					<span>댓글 목록</span>
  					<hr/>
  					
  					<!-- 반복 문 실행 될 div -->
  					<div class="replyList">

  					</div>
  				</div>
  				
			</div> <!-- mainDiv END -->
		</article>
	</th:block>
</body>

</html>
