<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.mapper.PostMapper">
	<!-- 글 목록 postList를 불러오는 sql문 선언 -->
	<select id="postList" resultType="com.example.board.domain.PostVO">
		<![CDATA[
			SELECT * FROM post
			ORDER BY p_dt desc
		]]>
	</select>
	
	<!-- 글 등록 postRegister sql문 -->
	<insert id="postRegister" parameterType="com.example.board.domain.PostVO">
		insert into post (user_id, p_title, p_content, p_dt, p_readCount)
		values (#{user_id},#{p_title},#{p_content},now(),0)
	</insert>
	
	<!-- 	특정 글 선택 시 postDetail을 가져오는 sql문	 -->
	<select id="postDetail" resultType="com.example.board.domain.PostVO">
		select * from post
		where p_no = #{p_no}
	</select>
	
	<!-- 글 삭제 sql문 -->
	<delete id="postDel" parameterType="com.example.board.domain.PostVO">
		delete
		from post
		where p_no = #{p_no}
	</delete>
	
	<!-- 글 수정 sql문 -->
	<delete id="postEdit" parameterType="com.example.board.domain.PostVO">
		update post
		set p_title = #{p_title},
		p_content = #{p_content},
		p_dt = now()
		where p_no = #{p_no}
	</delete>	
</mapper>