<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/layout">

<th:block layout:fragment="page_head">
	<title>로그인 홈 화면</title>
</th:block>

<th:block layout:fragment="contents">
	<div class="card align-middle text-center cardDiv">
		<div class="card-title cardTitleDiv" >
			<h2 class="card-title text-center cardTitleH2">로그인</h2>
		</div>
		<div class="card-body">
			<form class="form-signin" method="POST" onSubmit="logincall();return false">
				<h5 class="form-signin-heading">로그인 정보를 입력하세요</h5>
				<br/>
				
				<label for="user_id" class="sr-only">Your ID</label>
				<input type="text" id="user_id" class="form-control" placeholder="아이디" required autofocus>
				<BR>
				
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" id="upw" class="form-control" placeholder="비밀번호" required>
				<br>
				<div class="checkbox">
					<label> <input type="checkbox" value="remember-me">
						기억하기
					</label>
				</div>
				<button id="btn-Yes" class="btn btn-lg btn-dark btn-block"
					type="submit">로 그 인</button>
			</form>

		</div>
	</div>
</th:block>


<th:block layout:fragment="page_css">
	<link href="logIn/css/logIn.css" rel="stylesheet">
</th:block>

<th:block layout:fragment="page_js">

</th:block>


</html>